@CHARSET "UTF-8";
html {
	font-family:Microsoft YaHei,arial,sans-serif;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%
}
body {
	margin:0
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
	display:block
}
audio,canvas,progress,video {
	display:inline-block;
	vertical-align:baseline
}
audio:not([controls]) {
	display:none;
	height:0
}
[hidden],template {
	display:none
}
a {
	background-color:transparent
}
a:active,a:hover {
	outline:0
}
abbr[title] {
	border-bottom:1px dotted
}
b,strong {
	font-weight:700
}
dfn {
	font-style:italic
}
h1 {
	margin:.67em 0;
	font-size:2em
}
mark {
	color:#000;
	background:#ff0
}
small {
	font-size:80%
}
sub,sup {
	position:relative;
	font-size:75%;
	line-height:0;
	vertical-align:baseline
}
sup {
	top:-.5em
}
sub {
	bottom:-.25em
}
img {
	border:0
}
svg:not(:root) {
	overflow:hidden
}
figure {
	margin:1em 40px
}
hr {
	height:0;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box
}
pre {
	overflow:auto
}
code,kbd,pre,samp {
	font-family:Microsoft YaHei,arial,sans-serif;
	font-size:1em
}
button,input,optgroup,select,textarea {
	margin:0;
	font:inherit;
	color:inherit
}
button {
	overflow:visible
}
button,select {
	text-transform:none
}
button,html input[type=button],input[type=reset],input[type=submit] {
	-webkit-appearance:button;
	cursor:pointer
}
button[disabled],html input[disabled] {
	cursor:default
}
button::-moz-focus-inner,input::-moz-focus-inner {
	padding:0;
	border:0
}
input {
	line-height:normal
}
input[type=checkbox],input[type=radio] {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:0
}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
	height:auto
}
input[type=search] {
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	-webkit-appearance:textfield
}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
	-webkit-appearance:none
}
fieldset {
	padding:.35em .625em .75em;
	margin:0 2px;
	border:1px solid silver
}
legend {
	padding:0;
	border:0
}
textarea {
	overflow:auto
}
optgroup {
	font-weight:700
}
table {
	border-spacing:0;
	border-collapse:collapse
}
td,th {
	padding:0
}

a,a:visited {
	text-decoration:underline
}

abbr[title]:after {
	content:" (" attr(title) ")"
}
a[href^="javascript:"]:after,a[href^="#"]:after {
	content:""
}
blockquote,pre {
	border:1px solid #999;
	page-break-inside:avoid
}
thead {
	display:table-header-group
}
img,tr {
	page-break-inside:avoid
}
img {
	max-width:100%!important
}
h2,h3,p {
	orphans:3;
	widows:3
}
h2,h3 {
	page-break-after:avoid
}
select {
	background:#fff!important
}
* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
:after,:before {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
html {
	font-size:10px;
	-webkit-tap-highlight-color:rgba(0,0,0,0)
}
body {
	max-width:100%;
	overflow-x:hidden;
	transform-origin:50% 0%;
	-webkit-transform-origin:50% 0%;
	padding-top:15px;
	padding-bottom:24px;
	background-color:#f89821
}
button,input,select,textarea {
	font-family:inherit;
	font-size:inherit;
	line-height:inherit
}
a {
	color:#337ab7;
	text-decoration:none
}
a:focus,a:hover {
	color:#23527c;
	text-decoration:underline
}
a:focus {
	outline:thin dotted;
	outline:5px auto -webkit-focus-ring-color;
	outline-offset:-2px
}
figure {
	margin:0
}
img {
	vertical-align:middle
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.center-block {
	display:block;
	margin-right:auto;
	margin-left:auto;
}

.img-responsive{
	display:block;
	max-width:100%;
	height:auto;
}

.face-tooltip+.tooltip>.tooltip-inner {
	background-color:#f1d100;
	border-radius:0;
	color:#d86718;
	font-size:x-large;
	font-family:Microsoft YaHei,arial,sans-serif;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:8px;
	padding-right:8px;
	box-shadow:5px 5px 10px #333
}
.small-face-tooltip+.tooltip>.tooltip-inner {
	font-size:30px
}
.big-face-tooltip+.tooltip>.tooltip-inner {
	font-size:50px
}

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: Microsoft YaHei,arial,sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4;
}
.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}
.tooltip.in {
  filter: alpha(opacity=90);
  opacity: .9;
}
.tooltip-arrow {
	position:absolute;
	width:0;
	height:0;
	border-color:transparent;
	border-style:solid
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #000;
  border-radius: 4px;
}
img.small-face-tooltip {
	width:17.6px;
	height:34px;
	margin-right:4px;
	margin-top:-8px
}
img.big-face-tooltip {
	width:28.6px;
	height:60px;
	margin-right:6px;
	margin-top:-13px
}
.face-tooltip+.tooltip>.tooltip-arrow {
	border-bottom-color:#f1d100;
	border-top-color:#f1d100;
	border-top-width:10px;
	border-right-width:10px;
	border-left-width:10px;
	margin-left:-10px;
	margin-bottom:-3px
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
    margin-top: 20px;
  background-color: rgb(174, 117, 11);
  border-radius: 0;
}
.btn {
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.action {
  font-family: Microsoft YaHei,arial,sans-serif;
  font-size: 19px;
  color: #f8f7bb;
  color: rgba(248,247,187,1);
  border: 1px solid rgba(248,247,187,1);
}


/*ÄÚÈÝ*/

.bodyfont {
  font-family: Microsoft YaHei,arial,sans-serif;
  color: #f8f7bb;
  color: rgba(248,247,187,1);
  font-style: normal;
  font-size: 21px;
}





